*{
  margin: 0;
  box-sizing: border-box;
}

.timer-buttons button {
  color: #0099cc; 
  background-color: transparent; 
  border: 2px solid #0099cc; 
  border-radius: 5px;
  text-transform: uppercase; 
  width: 170px;
  height: 60px;
  cursor: pointer;
}

.timer-buttons button:hover {
  color: #0a6a91;
  border: 2px solid #0a6a91;
}

.timer-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 100px;
  margin-left: 100px;
}

main {
  display: flex;
  justify-content: space-between;
}

.video-container video {
  position: fixed;
  z-index: -50;
  top: 0%;
  left: 0%;
  width: 1600px;
  height: 900px;
}

.sound-container {
  padding-top: 100px;
  position: static;
}

.timer-outline {
  position: relative;
  transform: translate(150px, 0px);
}

.moving-outline {
  position: relative;
  transform: translate(-104px, 0px);
}

.play-img {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50px, -50px);
  z-index: 100;
}

.ambient-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 100px;
  padding-top: 100px;
}

.timer{
  padding-left: 50%;
  padding-right: 50%;
}

.ambient-buttons button{
  border: none;
  height: 120px;
  width: 120px;
  padding: 30px;
  border-radius: 50%;
}

.ambient-buttons button:nth-child(1) {
  background: #4972a1;
}

.ambient-buttons button:nth-child(2) {
  background: #a14f49;
}

.ambient-buttons button img {
  height: 100%;
}